@layer reset, base, tokens, recipes, utilities;

@keyframes horizontalWave {
  0%, 100% {
    d: path("M0,10 C240,17 480,3 720,10 960,17 1200,3 1440,10");
  }
  50% {
    d: path("M0,10 C240,3 480,17 720,10 960,3 1200,17 1440,10");
  }
}

@keyframes floatingBubble {
  0% {
    transform: translateY(0) translateX(0);
    transform: scale(1);
    opacity: 1;
  }
  25% {
    transform: translateY(-25vh) translateX(10px);
  }
  50% {
    transform: translateY(-50vh) translateX(-10px);
  }
  75% {
    transform: translateY(-75vh) translateX(10px);
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

:root {
  --gradient-color: linear-gradient(to bottom, #c7efff, #94c8fc, #8880ff);
  --wave-color: rgba(123, 189, 255, 0.8);
  --text-color: rgba(46, 8, 84, 0.9);
  --active-link-color: rgba(128, 0, 128, 0.9);
}

@media (prefers-color-scheme: dark) {
  :root {
    --gradient-color: linear-gradient(to bottom, rgba(46, 40, 92, 0.8), rgba(26, 18, 73, 0.8), rgba(36, 11, 54, 0.8));
    --wave-color: rgba(191, 219, 255, 0.8);
    --text-color: rgba(219, 204, 255, 0.8);
    --active-link-color: rgba(147, 112, 219, 0.8);
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: var(--gradient-color);
  color: var(--text-color);
}

.active-link {
  color: var(--active-link-color);
}